@model Player

    <form method="post" asp-action="addplayer">
        <div>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" />
        </div>
        <div>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" />
        </div>
        <div>
            <label asp-for="Country"></label>
            <input asp-for="Country" />
        </div>
        <div>
            <label asp-for="BirthDate"></label>
            <input asp-for="BirthDate" />
        </div>
        <div>
            <label asp-for="DeathDate"></label>
            <input asp-for="DeathDate" />
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
